.board {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 20px;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  border-radius: 5px;
}

.board * {
  font-family: sans-serif;
}

.board__column {
  flex: 1;
  background-color: #e4e8f0;
  height: fit-content;
  border-radius: 10px;
}



.board__column-title {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #07336b;
  user-select: none;
}

.board__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
  background: #e4e8f0;
}

.board__dropzone--active {
  height: 120px;
  background: #e4e8f0;
}

.board__add-item {
  
  width: 95%;
  height: 34px;
  margin-left: 2.5%;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #1f4f8f;
}

.card {
  margin: auto;
  width: 95%;
}

.card-title{
  font-size: 20px;
}

.card-body {
  padding: 10px;
  background-color: #d2e3c1;
}

.card-footer{
  height: 34px;
  background-color: transparent;
}

.icon{
  width: 12px;
  height: 12px;
}

.card-footer button{
  width: fit-content;
  border-radius: 50%;
}

#done-btn {
  display: none;
}

.btn-clr-blue {
  background-color: #1f4f8f;
  color: #fff;
}

.btn-clr-blue:hover {
  background-color: #07336b;
}

.delete-btn{
  float: right;
  border-radius: 50%;
 
  margin-bottom: 10px;
  margin-right: 10px;
}
